{
  "log": {
    "_recordingName": "fetchVulnerabilities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e00c8740c98ab60745fed5fa7ae7fa96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.amp.cisco.com/v1/vulnerabilities?offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7907,
            "text": "{\"version\":\"v1.2.0\",\"metadata\":{\"links\":{\"self\":\"https://api.amp.cisco.com/v1/vulnerabilities?offset=0\"},\"results\":{\"total\":8,\"current_item_count\":8,\"index\":0,\"items_per_page\":500}},\"data\":[{\"application\":\"Mozilla Firefox\",\"version\":\"41.0\",\"file\":{\"filename\":\"firefox.exe\",\"identity\":{\"sha256\":\"4312CDB2EAD8FD8D2DD6D8D716F3B6E9717B3D7167A2A0495E4391312102170F\"}},\"cves\":[{\"id\":\"CVE-2015-7204\",\"link\":\"https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-7204\",\"cvss\":6.8}],\"latest_timestamp\":1648743600,\"latest_date\":\"2022-03-31T16:20:00+00:00\",\"groups\":[{\"name\":\"Triage\",\"description\":\"Triage Group for Cisco rajgulat\",\"guid\":\"747376e0-0311-400b-b457-63bf4a4b124c\"}],\"computers_total_count\":1,\"computers\":[{\"connector_guid\":\"d1558111-5b69-4a6a-8b95-5811b2b0301f\",\"hostname\":\"Demo_AMP_Exploit_Prevention\",\"windows_processor_id\":\"186fa73d904e2b5\",\"active\":true,\"links\":{\"computer\":\"https://api.amp.cisco.com/v1/computers/d1558111-5b69-4a6a-8b95-5811b2b0301f\",\"trajectory\":\"https://api.amp.cisco.com/v1/computers/d1558111-5b69-4a6a-8b95-5811b2b0301f/trajectory\",\"group\":\"https://api.amp.cisco.com/v1/groups/747376e0-0311-400b-b457-63bf4a4b124c\"}}]},{\"application\":\"Adobe Flash Player\",\"version\":\"11.5.502.146\",\"file\":{\"filename\":\"FlashPlayerApp.exe\",\"identity\":{\"sha256\":\"c1219f0799e60ff48a9705b63c14168684aed911610fec68548ea08f605cc42b\"}},\"cves\":[{\"id\":\"CVE-2013-3333\",\"link\":\"https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2013-3333\",\"cvss\":10.0},{\"id\":\"CVE-2014-0502\",\"link\":\"https://web.nvd.nist.gov/view/vuln/detail?vu[...]
