{
  "log": {
    "_recordingName": "cisco_amp",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b9750974c8b4405759d048d4041d1508",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.amp.cisco.com/v1/computers?offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11014,
            "text": "{\"version\":\"v1.2.0\",\"metadata\":{\"links\":{\"self\":\"https://api.amp.cisco.com/v1/computers?offset=0\"},\"results\":{\"total\":38,\"current_item_count\":38,\"index\":0,\"items_per_page\":500}},\"data\":[{\"connector_guid\":\"dd655598-63d5-456f-9c1d-9876de860648\",\"hostname\":\"Demo_AMP\",\"windows_processor_id\":\"d5614b9f287e0a3\",\"active\":true,\"links\":{\"computer\":\"https://api.amp.cisco.com/v1/computers/dd655598-63d5-456f-9c1d-9876de860648\",\"trajectory\":\"https://api.amp.cisco.com/v1/computers/dd655598-63d5-456f-9c1d-9876de860648/trajectory\",\"group\":\"https://api.amp.cisco.com/v1/groups/747376e0-0311-400b-b457-63bf4a4b124c\"},\"connector_version\":\"7.5.3.20938\",\"operating_system\":\"Windows 10\",\"os_version\":\"10.0.19044.1466\",\"internal_ips\":[\"52.140.34.49\"],\"external_ip\":\"16.241.20.72\",\"group_guid\":\"747376e0-0311-400b-b457-63bf4a4b124c\",\"install_date\":\"2022-03-01T17:46:01Z\",\"is_compromised\":true,\"demo\":true,\"network_addresses\":[{\"mac\":\"22:88:fe:2c:89:5c\",\"ip\":\"52.140.34.49\"}],\"policy\":{\"guid\":\"eae572e0-3e7f-4f9f-9af2-5cc94e65dcd5\",\"name\":\"Triage\"},\"groups\":[{\"guid\":\"747376e0-0311-400b-b457-63bf4a4b124c\",\"name\":\"Triage\"}],\"last_seen\":\"2022-03-31T17:46:01Z\",\"faults\":[],\"isolation\":{\"available\":false,\"status\":\"not_isolated\"},\"orbital\":{\"status\":\"not_enabled\"}},{\"connector_guid\":\"d1558111-5b69-4a6a-8b95-5811b2b0301f\",\"hostname\":\"Demo_AMP_Exploit_Prevention\",\"windows_processor_id\":\"186fa73d904e2b5\",\"active\":true,\"links\":{\"computer\":\"https://api.amp.cisco.com/v1/computers/d1558111-5b69-4a6a-8b95-5811b2b0301f\",\"trajectory\":\"https://api.amp.cisco.com/v1/computers/d1558111-5b69-4a6a-8b95-5811b2b0301f/trajectory\",\"group\":\"https://api.amp.cisco.com/v1/groups/747376e0-0311-400b-b457-63bf4a4b124c\"},\"con[...]
